tr {
    background-color: grey;
}

th,
td {
    color: black;
}

table {
    color: black;
}

.dia {
    background-color: cyan;
}

.colacao {
    background-color: rgb(255, 251, 0);
}

.tf {
    background-color: rgb(255, 251, 0);
}

.td {
    background-color: rgb(255, 251, 0);
}

.loga {
    background-color: rgb(255, 251, 0);
}

.buga {
    background: rgb(255, 251, 0);
    background: rgb(255, 251, 0);
}

.uga {
    background-color: rgb(255, 251, 0);
}

.dh {
    background: rgb(255, 251, 0);
}

.init {
    background-color: rgb(255, 251, 0);
}

.proj {
    background-color: rgb(255, 251, 0);
}

.fg {
    background: rgb(255, 251, 0);
}

.reu {
    background-color: rgb(255, 251, 0);
}

.tdex {
    background-color: rgb(255, 251, 0);
}

.fds {
    background: rgb(255, 251, 0);
}

.final {
    background: rgb(255, 251, 0);
}

.fug {
    background: rgb(255, 251, 0);
}

.bv {
    background-color: rgb(255, 251, 0);
}

.cl {
    background: rgb(255, 251, 0);
}

.gh {
    background-color: rgb(255, 251, 0);
}

.coisarada {
    background-color: rgb(255, 251, 0);
}

.a {
    background-color: rgb(255, 251, 0);
}

.b {
    background-color: rgb(255, 251, 0);
}

.r {
    background-color: rgb(255, 251, 0);
}

.n {
    background-color:rgb(255, 251, 0);
}

.aga {
    background-color: rgb(255, 251, 0);
}

.p {
    background-color: rgb(255, 251, 0);
}

.univille {
    background-color: green;
}
.saob{
    background-color: rgb(255, 251, 0)e;
}
.f{
    background-color: rgb(255, 251, 0);
}